<!DOCTYPE html>
<html>
<head>
<title>کلام وحی | page | فعالیت های بهداشتی</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="../layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
<!--[if lt IE 9]>
<link href="../layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
<script src="../layout/scripts/ie/css3-mediaqueries.min.js"></script>
<script src="../layout/scripts/ie/html5shiv.min.js"></script>
<![endif]-->
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <div id="hgroup">
      <h1><a href="../index.html">دبستان و پیش دبستان غیردولتی کلام وحی</a></h1>
      <h2>اولین مدرسه قرآنی در پردیسان</h2>
    </div>
    <div id="header-contact">
      <ul class="list none">
                <li><span class="icon-envelope" style="float:left; margin:7px 7px 0 0;"></span> <a href="#"></a></li>
        <li>025-32800444<span class="icon-phone"></span> </li>
      </ul>
    </div>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
        <li><a href="../index.html">صفحه اصلی</a></li>
        
        <li><a class="drop" href="#">سامانه</a>
	<ul>
	<li><a href="login-1.html">ورود  به آموزش</a></li>
	<li><a href="register.html">پیش ثبت نام</a></li>
	</ul>

	<li class="active"><a class="drop" href="#">فعالیت ها </a>
	<ul>
	<li><a href="activities.html">پرورشی</a></li>
	<li><a href="activities3.html">آموزشی</a></li>
	<li><a href="activities2.html">بهداشتی</a></li>
	<li><a href="activities1.html">مشاوره</a></li>
	</ul>

        <li><a href="../gallery-layouts/gallery.html">گالری تصاویر</a></li>
        <li><a href="team-member.html">کادر پرسنل</a></li>    
        <li><a href="contact.html">ارتباط با ما</a></li>
	<li><a href="about-us.html">درباره ما</a></li>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div id="portfolio">
      <ul class="clear">
        <li class="one_third first">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/264.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مانور زلزله</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p> هداف مانور زلزله و ایمنی عبارتند از: کاهش تلفات و خسارات ناشی از زلزله بوسیله ارتقاء فرهنگ ایمنی و مقاوم سازی. ایجاد آمادگی برای انجام واکنش های صحیح و سریع در برابر زلزله. افزایش سطح آگاهی دانش آموزان در مورد زلزله و سایر پدیده های طبیعی.</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/265.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">زنگ تغذیه</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
           <p> غذایی که به کودک خود می‌دهید بسیار مهم است، چرا که مقدار انرژی لازم برای کودک، توسط این غذا فراهم می‌شود. بچه‌ها باید غذاهای متنوع و سالم بخورند تا فعال و سرزنده باشند. این غذا باید از نظر تغذیه‌ای سالم باشد، راحت و آسان به مدرسه برده شود و نباید هضم آن به قدری سنگین باشد که اشتهای کودک به شام را از بین ببرد. این غذا باید: – مقداری پروتئین داشته باشد. این پروتئین می‌تواند: گوشت، پنیر یا تخم مرغ باشد. – دارای مقداری سبزیجات باشد. – دارای مقداری میوه تازه باشد. – به‌ همراه این غذا باید مقداری آب یا شیر نوشیده شود. – شیرینی، آب نبات، تافی و … حذف شود. – از نا‌ن‌ها یا بیسکویت‌های غله (مانند: نان یا بیسکویت گندمی، جویی و…) استفاده شود. – هیچ گونه مزه، طعم و رنگی به آن اضافه نشده باشد</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/267.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">معاینات ماهانه</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>معاینات انجام شده در اسفند ماه</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third first">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/268.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">معاینه دندان </a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>معاینات انجام شده از دندان ها در اسفند ماه</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/269.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">برپایی جشنواره غذا</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>برپایی جشنواره غذا سالم..به مناسبت هغته سلامت</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/270.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم نقاشی همگانی</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>برگزاری نقاشی همگانی توسط کلیه دانش آموزان به مناسبت هوای پاک</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third first">

          <article class="clear">
            <figure class="post-image"><img src="../images/demo/271.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">فعالیت دانش آموزی </a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>تهیه روزنامه دیواری توسط دانش آموزان با عنوان روش های پوسیدگی دندان</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/272.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">معاینات قد و وزن ماهانه</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>معاینات ماهانه قد و وزن دانش آموزان در اسفند ماه</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/273.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">شنوایی سنجی </a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده :</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
<p> معاینات شنوایی سنجی دانش آموزان در اسفند ماه</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
      </ul>
      <!-- ####################################################################################################### -->
      <nav class="pagination">
        <ul>
          <li class="prev"><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li class="next"><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>


<!-- Footer -->
	<div class="wrapper row2">
	<div id="footer" class="clear">
	
	<div class="one_quarter">
      <h2 id="contact-us" class="footer_title first">ارتباط با ما</h2>
      <form class="rnd5" action="#" method="post">
        <div class="form-input clear">
          <label for="ft_author">نام  <span class="required">*</span><br>
            <input type="text" name="ft_author" id="ft_author" value="" size="22">
          </label>
          <label for="ft_email">ایمیل <span class="required">*</span><br>
            <input type="text" name="ft_email" id="ft_email" value="" size="22">
          </label>
        </div>
        <div class="form-message">
          <textarea name="ft_message" id="ft_message" cols="25" rows="10"></textarea>
        </div>
        <p>
          <input type="submit" value="ارسال" class="button small orange">
          &nbsp;
          <input type="reset" value="تنظیم مجدد" class="button small grey">
        </p>
      </form>
    </div>


    <div class="one_quarter">
      <h2 class="footer_title">نفرات برتر مسابقات </h2>
      <ul id="ft_gallery" class="nospace spacing clear">
<p>مسابقات احکام</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/11.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/12.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/13.gif" alt=""></a></li>
<p>مسابقات قرآن</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/14.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/15.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/16.gif" alt=""></a></li>
<p>مسابقات خوشنویسی</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/17.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/18.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/19.gif" alt=""></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h2 class="footer_title">لینک های مفید</h2>
      <div class="tweet-container">

        <ul class="list none">

<li><a href="http://google.com">google.com</a></li>

<li><a href="http://sanaad.medu.ir">سازمان دانش آموزی کشور</a></li>

<li><a href="http://sanjesh.org">سازمان سنجش کشور</a></li>
        </ul>
      </div>
    </div>

    
	
	<div class="one_quarter">
      <h2 class="footer_title">درباره ی ما</h2>
        <ul class="nospace">
          <p>شروع به کار این مجموعه از سال 1387 می باشد که حدود 8 سال بعنوان مکتب القران فعالیت داشت و زیر نظر کادر آموزشی علامه طباطبایی بوده است.پس از گذشت چند سال به خواست والدین و مراجعه کنندگان عزیز این آموزشگاه مجوز رسمی خود را از سازمان اموزش و پرورش دریافت نمود.</p>
<p>و فعالیت خود را درقالب دبستان و پیش دبستان غیردولتی با نام کلام وحی آغاز نمود و تاکنون فعالیت این آموزشگاه ادامه دارد.باشد که به یاری  خداوند متعال و شما عزیزان شاهد پیشرفت این آموزشگاه و تعلیم فرزندان نیکو و صالح باشیم.</p>
          
     
    </ul></div>
  </div>
</div>

<div class="wrapper row4">
<div id="copyright" class="clear">
    <p class="fl_right">کلیه خدمات این سایت مختص دبستان و پیش دبستان غیردولتی کلام وحی می باشد.</p>
    <p class="fl_left">طراحی شده توسط نیلوفر خسروی راد، بشری در تراش</a></p>
</div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="layout/scripts/jquery-latest.min.js"><\/script>\
<script src="layout/scripts/jquery-ui.min.js"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="layout/scripts/responsiveslides.js-v1.53/responsiveslides.min.js"></script>
<script src="layout/scripts/jquery-mobilemenu.min.js"></script>
<script src="layout/scripts/custom.js"></script>

</body>
</html>