<!DOCTYPE html>
<html>
<head>
<title>کلام وحی | Pages | مشاوره</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="../layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
<!--[if lt IE 9]>
<link href="../layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
<script src="../layout/scripts/ie/css3-mediaqueries.min.js"></script>
<script src="../layout/scripts/ie/html5shiv.min.js"></script>
<![endif]-->
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <div id="hgroup">
      <h1><a href="../index.html">دبستان و پیش دبستان غیردولتی کلام</a></h1>
      <h2>اولین مدرسه قرآنی در پردیسان</h2>
    </div>
    <div id="header-contact">
      <ul class="list none">
        <li><span class="icon-envelope" style="float:left; margin:7px 7px 0 0;"></span> <a href="#"></a></li>
        <li> 025-32800444<span class="icon-phone"></span> </li>
      </ul>
    </div>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
        <li><a href="../index.html">صفحه اصلی</a></li>
        
        <li><a class="drop" href="#">سامانه</a>
	<ul>
	<li><a href="login-1.html">ورود  به آموزش</a></li>
	<li><a href="register.html">پیش ثبت نام</a></li>
	</ul>

	<li class="active"><a class="drop" href="#">فعالیت ها </a>
	<ul>
	<li><a href="activities.html">پرورشی</a></li>
	<li><a href="activities3.html">آموزشی</a></li>
	<li><a href="activities2.html">بهداشتی</a></li>
	<li><a href="activities1.html">مشاوره</a></li>
	</ul>

        <li><a href="../gallery-layouts/gallery.html">گالری تصاویر</a></li>
        <li><a href="team-member.html">کادر پرسنل</a></li>    
        <li><a href="contact.html">ارتباط با ما</a></li>
	<li><a href="about-us.html">درباره ما</a></li>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <section class="clear">
      <h1>من گناه میکنم و تو جورش را میکشی ..سندش ؟ طولانی شدن غیبتت است!</h1>
      <figure class="imgr boxholder"><img src="../images/demo/274.gif" alt=""></figure>
      <p>مشاوره وراهنمایی درفرایند زندگی و کار انسان از کاربرد بالایی برخوردار است. هرفرد درزندگی و کار خویش همواره با مشکلات مادی، روحی وروانی مواجه است. فایق آمدن برمشکلات ورفع موانع ازطریق تلاش وجدیت او همراه با تفکر وتحلیل درست از مسایل مبتلابه زندگی و کار ومشورت با اهل فن وتجربه وراهنمایی فرد مطمئن ودلسوز مقدور خواهد بود.</p>

      <p>بنابر این، افزون برتلاش فردی، شخص دیگری به عنوان مشاور نیز می تواند درحل مشکلات او کمک کند؛ شکی نیست که چنین شخصی باید از ویژگی ها وصفات درستی برخوردار باشد تا بتواند به عنوان مشاورر موفق ومورد اطمینان دربخشهای مختلف زندگانی انسان به فعالیت خویش بپردازد. با بررسی تاریخی به این نتیجه می رسیم که پیامبران راستین به عنوان مشاوران وراهنمایان واقعی درطول تاریخ بشریت بوده اند. آنان صفات کامل مشاوران واقعی  را داشته اند. قرآن کریم اخلاق پیامبر اسلام‹ ص› را اینگونه معرفی می کند: «وانک لعلی خلق عظیم» ( قلم، 4 )؛ تو برنیکو خلقی عظیم آراسته ای.</p>
      <figure class="imgl boxholder"><img src="../images/demo/275.gif" alt=""></figure>
      <p>یکی ازصفاتی که مشاور باید برخوردار باشد رازداری یا امانت داری است. امین بودن درهرکاری باعث اعتماد دیگران می شود. این امر مهم درتمام فرایند زندگانی انسان از اهمیت ویژه ی برخوردار است. درامور مشاوره نیز تا مراجع اطمینان کامل از مشاور پیدانکند رازهای درونی ورفتار های پنهان خودرا آشکار نمی کند؛ چراکه ممکن است به واسطه ای افشاگری سرنوشت وحیات او تغییر کند. براین اساس لازم است مشاور از ویژگی امانت داری برخوردار باشد وتلاش نماید تا آن را تحت هرشرایط افزایش دهد..</p>
      <p>امام علی‹ع› می فرماید: « ألکتمان ملاک النجوی»؛ رازداری پایه زیربنای راز سپردن است. (آمدی غرر الحکم، حدیث409، 16) پیامبر اسلام نیز می فرماید: « ألمستشارمؤتمن فإن شاء اشار وان شاء سکت فإن اشارفلیشر بما لونزل به فعله» ؛ کسی که با وی مشورت کنند امانت دار است اگر خواهد رأی دهد و اگر خواهد خاموش ماند واگر رأی داد همان گوید که اگر خود او بود می کرد.</p>
      <p>با یاری  خداوند متعال این موسسه برای رفاه حال والدین و پاسخگویی به نیاز ها و مشکلات اولیای گرامی جلسات مشاوره ایی را در نظر گرفته است که با توجه به جدول زمانبندی به موسسه مراجعه کنید .</p>
    </section>
    <section>
      <h1>جدول زمانبندی و حضور مشاور</h1>
      <table>
        <thead>
          <tr>
            <th>ردیف</th>
            <th>عنوان</th>
            <th>روز</th>
            <th>تاریخ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="light">
            <td> 1</td>
            <td> مشکلات خانواده</td>
            <td> پنج شنبه</td>
            <td> 95/7/24</td>
          </tr>
          <tr class="dark">
            <td>2</td>
            <td>آسیب های جامعه</td>
            <td>پنج شنبه</td>
            <td>95/8/8</td>
          </tr>
          <tr class="light">
            <td>3</td>
            <td>برخورد با کودک</td>
            <td>پنج شنبه</td>
            <td>95/8/16</td>
          </tr>
          <tr class="dark">
            <td>4</td>
            <td>بازیگوشی کودکان</td>
            <td>پنج شنبه</td>
            <td>95/8/24</td>
          </tr>
        </tbody>
      </table>
    </section>

    
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>
<!-- Footer -->

<div class="wrapper row2">
	<div id="footer" class="clear">
	
	<div class="one_quarter">
      <h2 id="contact-us" class="footer_title first">ارتباط با ما</h2>
      <form class="rnd5" action="#" method="post">
        <div class="form-input clear">
          <label for="ft_author">نام  <span class="required">*</span><br>
            <input type="text" name="ft_author" id="ft_author" value="" size="22">
          </label>
          <label for="ft_email">ایمیل <span class="required">*</span><br>
            <input type="text" name="ft_email" id="ft_email" value="" size="22">
          </label>
        </div>
        <div class="form-message">
          <textarea name="ft_message" id="ft_message" cols="25" rows="10"></textarea>
        </div>
        <p>
          <input type="submit" value="ارسال" class="button small orange">
          &nbsp;
          <input type="reset" value="تنظیم مجدد" class="button small grey">
        </p>
      </form>
    </div>


    <div class="one_quarter">
      <h2 class="footer_title">نفرات برتر مسابقات </h2>
      <ul id="ft_gallery" class="nospace spacing clear">
<p>مسابقات احکام</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/11.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/12.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/13.gif" alt=""></a></li>
<p>مسابقات قرآن</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/14.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/15.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/16.gif" alt=""></a></li>
<p>مسابقات خوشنویسی</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/17.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/18.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/19.gif" alt=""></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h2 class="footer_title">لینک های مفید</h2>
      <div class="tweet-container">

        <ul class="list none">

<li><a href="http://google.com">google.com</a></li>

<li><a href="http://sanaad.medu.ir">سازمان دانش آموزی کشور</a></li>

<li><a href="http://sanjesh.org">سازمان سنجش کشور</a></li>
        </ul>
      </div>
    </div>

    
	
	<div class="one_quarter">
      <h2 class="footer_title">درباره ی ما</h2>
        <ul class="nospace">
          <p>شروع به کار این مجموعه از سال 1387 می باشد که حدود 8 سال بعنوان مکتب القران فعالیت داشت و زیر نظر کادر آموزشی علامه طباطبایی بوده است.پس از گذشت چند سال به خواست والدین و مراجعه کنندگان عزیز این آموزشگاه مجوز رسمی خود را از سازمان اموزش و پرورش دریافت نمود.</p>
<p>و فعالیت خود را درقالب دبستان و پیش دبستان غیردولتی با نام کلام وحی آغاز نمود و تاکنون فعالیت این آموزشگاه ادامه دارد.باشد که به یاری  خداوند متعال و شما عزیزان شاهد پیشرفت این آموزشگاه و تعلیم فرزندان نیکو و صالح باشیم.</p>
          
     
    </ul></div>
  </div>
</div>

<div class="wrapper row4">
<div id="copyright" class="clear">
    <p class="fl_right">کلیه خدمات این سایت مختص دبستان و پیش دبستان غیردولتی کلام وحی می باشد.</p>
    <p class="fl_left">طراحی شده توسط نیلوفر خسروی راد، بشری در تراش</a></p>
</div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="layout/scripts/jquery-latest.min.js"><\/script>\
<script src="layout/scripts/jquery-ui.min.js"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="layout/scripts/responsiveslides.js-v1.53/responsiveslides.min.js"></script>
<script src="layout/scripts/jquery-mobilemenu.min.js"></script>
<script src="layout/scripts/custom.js"></script>

</body>
</html>