<!DOCTYPE html>
<html>
<head>
<title>کلام وحی | page | فعالیت های پرورشی</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="../layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
<!--[if lt IE 9]>
<link href="../layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
<script src="../layout/scripts/ie/css3-mediaqueries.min.js"></script>
<script src="../layout/scripts/ie/html5shiv.min.js"></script>
<![endif]-->
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <div id="hgroup">
      <h1><a href="../index.html">دبستان و پیش دبستان غیردولتی کلام وحی</a></h1>
      <h2>اولین مدرسه قرآنی در پردیسان</h2>
    </div>
    <div id="header-contact">
      <ul class="list none">
                <li><span class="icon-envelope" style="float:left; margin:7px 7px 0 0;"></span> <a href="#"></a></li>
        <li>025-32800444<span class="icon-phone"></span> </li>
      </ul>
    </div>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
        <li><a href="../index.html">صفحه اصلی</a></li>    
        <li><a class="drop" href="#">سامانه</a>
	<ul>
	<li><a href="login-1.html">ورود  به آموزش</a></li>
	<li><a href="register.html">پیش ثبت نام</a></li>
	</ul>

	<li class="active"><a class="drop" href="#">فعالیت ها </a>
	<ul>
	<li><a href="activities.html">پرورشی</a></li>
	<li><a href="activities3.html">آموزشی</a></li>
	<li><a href="activities2.html">بهداشتی</a></li>
	<li><a href="activities1.html">مشاوره</a></li>
	</ul>

        <li><a href="../gallery-layouts/gallery.html">گالری تصاویر</a></li>
        <li><a href="team-member.html">کادر پرسنل</a></li>    
        <li><a href="contact.html">ارتباط با ما</a></li>
	<li><a href="about-us.html">درباره ما</a></li>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div id="portfolio">
      <ul class="clear">
        <li class="one_third first">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/255.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">برگزاری مراسم سوگواری حضرت رقیه</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>دست‏هایت کوچک بودند برای به آغوش کشیدن صبر و سختی. اما تو چقدر سربلند بیرون آمدی از دردها و دلتنگی‏ها! صبر را از چه کسی به ارث برده بودی، نمی‏دانم! اما ایمان، هم‏پای تو بزرگ شده بود .</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/256.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">برگزاری جشن الفبا</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>انگار همین دیروز بود که به جشن شکوفه ها آمدیم و سال تحصیلی را شروع کردیم. امسال تمام شد ،سال خوبی بود سالی که پر بود از طعم درس ومدرسه سالی که پر بود از شیرینی « خواندن ونوشتن » . دست تمامی عوامل مدرسه ، شامل مدیر و معاونان محترم بخصو ص معلم کلا سمان را می بو سیم که به ما « خواندن ونوشتن » آموختند . و می گوییم : « گل اگر در فصل گل بوییدنی است ای معلم دستهایت تا ابد بوسیدنی است ..</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/257.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">برگزاری نمایشگاه دهه فجر</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>دهه فجر ،‌ سرآغاز طلوع اسلام،‌ خاستگاه ارزشهای اسلامی، مقطع رهایی ملت ایران و بخشی از تاریخ ماست که گذشته را از آینده جدا ساخته است. در دهه فجر اسلام تولدی دوباره یافت و این دهه در تاریخ ایران نقطه ای تعیین کننده و بی مانند بشمارمیرود..</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third first">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/258.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم 22 بهمن</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>22 بهمن یعنی جشن همگانی... که هیچ کس با هیچ رنگی نمیتواند به همش بزند... وقتی همه مغرورند و مفتخر، از انقلابی که الگوی همه جهان است، هیچ کس نمیتواند به چیزی دست درازی کند.</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/259.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم جشن تکلیف</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>بسم الله الرحمن الرحیم ای خدای بزرگ ! دراین لحظه ی باشکوه و به یادماندنی با تو پیمان می بندم ، که همیشه به فرمانت عمل کنم ، واز راه نورانی تو منحرف نشوم . ای خدای مهربان ! تورا سپاس می گویم ، که دعوتم کردی وبا توپیمان می بندم که بنده ی خوبی برایت باشم . بارالها! به من سلامتی وپاکی داری، پس باتوپیمان می بندم که خودم رابه گناه نزدیک نکنم . الهی ! به من پدرومادربا ایمان عطا کردی ، باتوپیمان می بندم همیشه قدردان آنها باشم . مهربانم ! دراین هنگامه ی مقدس باتوپیمان می بندم که جزبه راه تو نروم . ای خدای بزرگ ! ای خدای بی همتا اکنون که به سن تکلیف رسیده ام ، خوشحالم وبا تو پیمان می بندم نمازهایم را خوانده و واجبات دینم را انجام دهم . آمین یارب العالمین -.</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/260.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم سوگواری دهه محرم</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>قال الصادق علیه الصلواه: « لوقتل الأرض به الحسین ماکان سرفا » اگر همه ی اهل زمین براى حسین کشته شوند ، اسراف نیست!..</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third first">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/261.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم جشن قرآن</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>آنگاه كه درون خويش را از خود تهي يافتي و بيرون از خويش را خالي از خدا، قرآن بخوان آنگاه كه در درياي خروشان زندگي، در چنگال طوفان جهل و ترس اسير شدي و ساحل صلاح و صلح و كشتي نجات و رهايي را آرزو كردي، قرآن بخوان آنگاه كه درون خويش را از خود تهي يافتي و بيرون از خويش را خالي از خدا، قرآن بخوانآنگاه كه در درياي خروشان زندگي، در چنگال طوفان جهل و ترس اسير شدي و ساحل صلاح و صلح و كشتي نجات و رهايي را آرزو كردي، قرآن بخوانآنگاه كه عقلت، احساست را به بند كشيد و فكرت، عشقت را و قوه پيوستن به يزدان به نيروي عرفان را از دست دادي، قرآن بخوان</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/262.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">مراسم جشن عاطفه ها</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده:</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>جشن عاطفه ها فرصتی است برای عشق ورزی و مهربانی به کسانی که نیازمند دستان گرم همنوعانشان هستند،به بهانه ی روز جشن عاطفه ها چشم های گریان کودکان محروم، امروز چشم به راه دستهای نوازشگری است که همواره به بهانه ای،مهربانی را بین خود و همنوع خود تقسیم می کنند.</p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>

        <li class="one_third">
          <article class="clear">
            <figure class="post-image"><img src="../images/demo/263.gif" alt=""></figure>
            <header>
              <h2 class="blog-post-title"><a href="#">اردوی گلزار شهدا</a></h2>
              <div class="blog-post-meta">
                <ul>
                  <li class="blog-post-date">
                    <time datetime="2000-04-06T08:15+00:00"><strong>نوشته شده :</strong> 6<sup>th</sup> April 2000</time>
                  </li>
                  <li class="blog-post-cats"><a href="#">Category 1</a>, <a href="#">Category 2</a></li>
                </ul>
              </div>
            </header>
            <p>خالصانه آمده‌ایم تا زیارتتان کنیم و با دل‌های خسته اما امیدوار، خدا را در این مکان اهورایی با بغض‌های شکسته فرا بخوانیم و بگوییم که شهدا! ما شما را فراموش نکرده‌ایم... اصلاً مگر حماسه، شهادت، هویزه، طلائیه، بستان، صدای غرش توپ‌ها، حسین فهمیده‌ها و باکری‌ها، چمران‌ها، آوینی‌ها و ... فراموش شدنی هستند؟ </p>
            <footer class="read-more"><a href="#">مطالعه بیشتر &raquo;</a></footer>
          </article>
        </li>
      </ul>
      <!-- ####################################################################################################### -->
      <nav class="pagination">
        <ul>
          <li class="prev"><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li class="next"><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>


<!-- Footer -->
	<div class="wrapper row2">
	<div id="footer" class="clear">
	
	<div class="one_quarter">
      <h2 id="contact-us" class="footer_title first">ارتباط با ما</h2>
      <form class="rnd5" action="#" method="post">
        <div class="form-input clear">
          <label for="ft_author">نام  <span class="required">*</span><br>
            <input type="text" name="ft_author" id="ft_author" value="" size="22">
          </label>
          <label for="ft_email">ایمیل <span class="required">*</span><br>
            <input type="text" name="ft_email" id="ft_email" value="" size="22">
          </label>
        </div>
        <div class="form-message">
          <textarea name="ft_message" id="ft_message" cols="25" rows="10"></textarea>
        </div>
        <p>
          <input type="submit" value="ارسال" class="button small orange">
          &nbsp;
          <input type="reset" value="تنظیم مجدد" class="button small grey">
        </p>
      </form>
    </div>


    <div class="one_quarter">
      <h2 class="footer_title">نفرات برتر مسابقات </h2>
      <ul id="ft_gallery" class="nospace spacing clear">
<p>مسابقات احکام</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/11.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/12.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/13.gif" alt=""></a></li>
<p>مسابقات قرآن</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/14.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/15.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/16.gif" alt=""></a></li>
<p>مسابقات خوشنویسی</p>
        <li class="one_third first"><a href="#"><img src="../images/demo/17.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/18.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../images/demo/19.gif" alt=""></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h2 class="footer_title">لینک های مفید</h2>
      <div class="tweet-container">

        <ul class="list none">

<li><a href="http://google.com">google.com</a></li>

<li><a href="http://sanaad.medu.ir">سازمان دانش آموزی کشور</a></li>

<li><a href="http://sanjesh.org">سازمان سنجش کشور</a></li>
        </ul>
      </div>
    </div>

    
	
	<div class="one_quarter">
      <h2 class="footer_title">درباره ی ما</h2>
        <ul class="nospace">
          <p>شروع به کار این مجموعه از سال 1387 می باشد که حدود 8 سال بعنوان مکتب القران فعالیت داشت و زیر نظر کادر آموزشی علامه طباطبایی بوده است.پس از گذشت چند سال به خواست والدین و مراجعه کنندگان عزیز این آموزشگاه مجوز رسمی خود را از سازمان اموزش و پرورش دریافت نمود.</p>
<p>و فعالیت خود را درقالب دبستان و پیش دبستان غیردولتی با نام کلام وحی آغاز نمود و تاکنون فعالیت این آموزشگاه ادامه دارد.باشد که به یاری  خداوند متعال و شما عزیزان شاهد پیشرفت این آموزشگاه و تعلیم فرزندان نیکو و صالح باشیم.</p>
          
     
    </ul></div>
  </div>
</div>

<div class="wrapper row4">
<div id="copyright" class="clear">
    <p class="fl_right">کلیه خدمات این سایت مختص دبستان و پیش دبستان غیردولتی کلام وحی می باشد.</p>
    <p class="fl_left">طراحی شده توسط نیلوفر خسروی راد، بشری در تراش</a></p>
</div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="layout/scripts/jquery-latest.min.js"><\/script>\
<script src="layout/scripts/jquery-ui.min.js"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="layout/scripts/responsiveslides.js-v1.53/responsiveslides.min.js"></script>
<script src="layout/scripts/jquery-mobilemenu.min.js"></script>
<script src="layout/scripts/custom.js"></script>

</body>
</html>