<!DOCTYPE html>
<head>
	
	<title>رمز را فراموش کرده ام!</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="../nlog/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">بازیابی رمز ورود</h1>
			<form class="form-horizontal templatemo-forgot-password-form templatemo-container" role="form" action="#" method="post">	
				<div class="form-group">
		          <div class="col-md-12">
لطفا ایمیل خود را وارد کنید تا رمز ورود را بازیابی کنیم.
		          </div>
		        </div>		
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="text" class="form-control" id="email" placeholder="ایمیل">	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="submit" value="ارسال" class="btn btn-danger">
                    <br><br>
                    <a href="login-1.html">ورود</a> 
		          </div>
		        </div>
		      </form>
		</div>
	</div>
</body>
</html>