<!DOCTYPE html>
<head>
	
	<title>پرداخت شهریه| کلام وحی</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="../nlog/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">پرداخت شهریه </h1>
			<form class="form-horizontal templatemo-payment-form templatemo-container" role="form" action="#" method="post">	
				<p class="text-center">شهریه مصوب رای سال تحصیلی 96-95 برابر 2.100.000 تومان می باشد.
                <br><br>لطفا اطاعات کارت خود را وارد کنید.</p>
				<hr>
				<div class="form-group">
					<label class="col-sm-3 control-label">درگاه پرداخت </label>
					<div class="col-sm-9">
						<div class="templatemo-radio-container">
							<label class="radio templatemo-no-padding-top">
			          			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
			          			<img src="../nlog/images/visa.png" alt="visa logo">
			          			<img src="../nlog/images/mastercard.png" alt="mastercard logo">
			          			<img src="../nlog/images/jcb.png" alt="jcb logo">
			          			<img src="../nlog/images/amex.png" alt="amex logo">
			          		</label>
						</div>
			          	<div class="templatemo-radio-container">
			          		<label class="radio">
			          			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 
			          			<img src="../nlog/images/paypal.png" alt="paypal logo">
			          		</label>
		          		</div>
			          </div> 
				</div>		
		        <div class="form-group">
		        	<label class="col-sm-3 control-label">اطلاعات حساب</label>
		          	<div class="col-sm-9 templatemo-card-details">
		          		<div class="col-md-12 form-group">
		          			<label for="card_name" class="control-label">نام پرداخت کننده</label>
			            	<input type="text" class="form-control" id="card_name" placeholder="">
		          		</div>
		          		<div class="col-md-12 form-group">
				            <label for="card_number" class="control-label">شماره کارت</label>
				            <input type="text" class="form-control" id="card_number" placeholder="">	            
				         </div>
				         <div class="col-md-12 form-group">				         				         
					         <div class="templatemo-inline-group">
					         	<label class="control-label">انقضا کارت</label>
					         	<div class="col-sm-12 templatemo-select-container">
					         		<select>
						         		<option>-</option>
										<option value="2014">1399</option>
										<option value="2015">1400</option>
										<option value="2016">1401</option>
										<option value="2017">1402</option>
										<option value="2018">1403</option>
										<option value="2019">1404</option>
										<option value="2020">1405</option>
										<option value="2021">1406</option>
										<option value="2022">1407</option>
										<option value="2023">1408</option>
										<option value="2024">1409</option>
									</select> /
									<select>
										<option>-</option>
									  	<option value="01">01</option>
									  	<option value="02">02</option>
									  	<option value="03">03</option>
									  	<option value="04">04</option>
									  	<option value="05">05</option>
									  	<option value="06">06</option>
									  	<option value="07">07</option>
									  	<option value="08">08</option>
									  	<option value="09">09</option>
									  	<option value="10">10</option>
									  	<option value="11">11</option>
									  	<option value="12">12</option>
									</select>
					         	</div>
							</div>
							<div class="templatemo-inline-group cvv2-group">
								<div>
									<label for="cvv2" class="control-label text-left">رمز دوم</label>
									<input type="text" maxlength="3" class="cvv2 form-control" id="cvv2" placeholder="">
									<img src="../nlog/images/cvv2.jpg" alt="cvv2">
								</div>
					         </div>
				         </div>				         
			         </div>			                        
		        </div>
		        <div class="form-group">
			          <div class="col-sm-9 col-sm-offset-3">
			            <input type="submit" value="پرداخت" class="btn btn-success btn-round">
			          </div>
			        </div>	
		      </form>
		</div>
	</div>
</body>
</html>