<!DOCTYPE html>
<head>
	
	<title>کلام وحی|پیش ثبت نام </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../nlog/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">پیش ثبت نام سال تحصیلی 96-95</h1>
<div class="first" dir="rtl" align="center">
<p>ضمن تشکر از انتخاب این آموزشگاه برای فرزند گرامیتان  به استحضار میرساند که شهریه مصوب این آموزشگاه برابر 2.100.000 تومان می باشد. 
<br>همچنین پیش ثبت نام به معنی ثبت نام قطعی شما بزرگوار نمی باشد و برای تایید ثبت نام نهایی فرزند عزیزتان باید با در دست داشتن اصل شناسنامه مادر و پدر و فرزند ، کارت ملی مادر و پدر،شش قطعه عکس  </br> به آموزشگاه مراجعه کنید.لازم به ذکر است باتوجه به ظرفیت محدود این آموزشگاه در صورت عدم حضور به موقع برای تایید ثبت نام ،آموزشگاه هیچگونه اعتراضی اعم از اینکه قبلا پیش ثبت نام داشته اید را نمی پذیرد.  </p>

</div>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group" dir="rtl" align="right" >
			          <div class="col-md-6" >		          	
			            <label for="first_name" class="control-label"> نام خانوادگی </label>
			            <input type="text" class="form-control" id="last_name" placeholder="">		            		            		            
			          </div>  
			          <div class="col-md-6" >		          	
			            <label for="last_name" class="control-label">نام </label>
			            <input type="text" class="form-control" id="first_name" placeholder="">		            		            		            
			          </div>             
			        
			            <div class="col-md-6" >		          	
			            <label for="last_name" class="control-label">شغل پدر </label>
			            <input type="text" class="form-control" id="first_name" placeholder="">		            		            		            
			          </div>
	          <div class="col-md-6">		          	
			            <label for="last_name" class="control-label">شغل مادر </label>
			            <input type="text" class="form-control" id="first_name" placeholder="">		            		            		            
			          </div>
</div>
     
			        </div>			
			        <div class="form-group">
			          <div class="col-md-6" dir="rtl" align="right">		          	
			            <label for="fname" class="control-label">نام پدر</label>
			            <input type="text" class="form-control" id="fname" placeholder="">		            		            		            
			          </div>
			          <div class="col-md-6 templatemo-radio-group" >
			          	<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">     مذکر
		          		</label>
		          		<label class="radio-inline" >
		          			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">      مونث
		          		</label>
			          </div>             
			        </div>
			        <div class="form-group" dir="rtl" align="right">
			          <div class="col-md-6">
			            <label for="number" class="control-label">شماره تماس</label>
			            <input type="text" class="form-control" id="number" placeholder="">
			          </div>
			          <div class="col-md-6">
			            <label for="address" class="control-label">آدرس محل سکوت</label>
			            <input type="text" class="form-control" id="address" placeholder="">
			          </div>
			        </div>
			        <div class="form-group" dir="rtl" align="right">
			          <div class="col-md-12">
			            <label><input type="checkbox" >  با توجه به مطالعه شرایط ثبت نام و عملکرد مدرسه در طی سال های اخیر تمامی ضوابط را قبول می کنم .</label>
			          </div>
			        </div>

			        <div class="form-group">
			          <div class="col-md-12">
			            <input type="submit" value="ثبت اطلاعات" class="btn btn-info" >
			            
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
	

	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>