<!DOCTYPE html>
<html>
<head>
<title> کلام وحی | Pages | About Us</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="../layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
<!--[if lt IE 9]>
<link href="../layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
<script src="../layout/scripts/ie/css3-mediaqueries.min.js"></script>
<script src="../layout/scripts/ie/html5shiv.min.js"></script>
<![endif]-->
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <div id="hgroup">
      <h1><a href="../index.html">دبستان و پیش دبستان غیردولتی کلام وحی </a></h1>
      <h2>اولین مدرسه قرآنی در پردیسان</h2>
    </div>
    
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
        <li><a href="../index.html">صفحه اصلی</a></li>
        
        <li><a class="drop" href="#">سامانه</a>
	<ul>
	<li><a href="login-1.html">ورود  به آموزش</a></li>
	<li><a href="register.html">پیش ثبت نام</a></li>
	</ul>

	<li><a class="drop" href="#">فعالیت ها </a>
	<ul>
	<li><a href="activities.html">پرورشی</a></li>
	<li><a href="activities3.html">آموزشی</a></li>
	<li><a href="activities2.html">بهداشتی</a></li>
	<li><a href="activities1.html">مشاوره</a></li>
	</ul>

        <li><a href="../gallery-layouts/gallery.html">گالری تصاویر</a></li>
        <li class="active"><a href="team-member.html">کادر پرسنل</a></li>    
        <li><a href="contact.html">ارتباط با ما</a></li>
	<li><a href="about-us.html">درباره ما</a></li>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
	
    <section>
      <h2>مدیر و معاونین</h2>
      <ul class="nospace clear">
        <li class="one_quarter first">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">معاون اجرایی</p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">معاون پرورشی</p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">معاون آموزشی</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">مدیر</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <!-- ################################################################################################ -->
    <section>
      <h2>دبیران</h2>
      <ul class="nospace clear">
        <li class="one_quarter first">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت </p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
	<section>
      <ul class="nospace clear">
        <li class="one_quarter first">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت </p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص;</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure class="team-member"><img src="../images/demo/team-member.gif" alt="">
            <figcaption>
              <p class="team-name">نام و نام خانوادگی</p>
              <p class="team-title">سمت</p>
              <p class="team-description">اطلاعات شخص</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->

</div>
<!-- Footer -->
<div class="wrapper row2">
  
</div>
<div class="wrapper row4">
<div id="copyright" class="clear">
    <p class="fl_right">کلیه خدمات این سایت مختص دبستان و پیش دبستان غیردولتی کلام وحی می باشد.</p>
    <p class="fl_left">طراحی شده توسط نیلوفر خسروی راد، بشری در تراش</a></p>
</div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="../layout/scripts/jquery-latest.min.js"><\/script>\
<script src="../layout/scripts/jquery-ui.min.js"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="../layout/scripts/jquery-mobilemenu.min.js"></script>
<script src="../layout/scripts/custom.js"></script>
</body>
</html>